spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/bluemetest
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  
mybatis:
  mapper-locations: classpath:mybatis/mapper/**/**.xml
  
server:
  port: 8104
  address: 0.0.0.0

